<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h4>Este template fue creado el {{hoy}}</h4>
    <h1>Datos del Alummo:</h1>

    <p style="color:red"> Nombre: {{nombre}}</p>
    <p style="color:blue"> Apellido: {{apellido}}</p>

    <h3>Lista de notas:</h3>    

    <p>
    {% for n in notas %} 
        {% if n < 4 %}
            <p style= "color:red"> Desaprobado {{n}} </p>
        {% else %}
            <p style="color:rgb(47, 255, 47)"> Aprobado {{n}} </p>
        {% endif %}
        
    {% endfor %}
    <p>


</body>
</html>